*{
    margin:0;
    padding: 0;
}
#bg{
    background: url(bg.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 8px 8px 0px 0px;
    z-index: -2;
}
.bgop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff69;
    backdrop-filter: blur(10px);
    z-index: -1;
}
/* 搜索 */
#search{
    top: 0;
    left: 0;
}
#search .search-logo{
    position: absolute;
    bottom: 5%;
    right: 15px;
    width: 55px;
    height: 55px;
    background-color: #670465;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px #000000ee;
    transition: 0.25s all;
}
#search .search-logo:hover{
    transform: rotate(45deg);
}
#search .search-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    transition: all .5s;
    position: fixed;
}
#search .search-box .search-main{
    margin: 20px;
    background-color: #ffffffeb;
    max-height: calc(100% - 40px);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
#search .search-box .search-main .search-bar{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#search-input{
    height: 32px;
    width: 395px;
    text-align: left;
    bottom: 0;
    font-size: 18px;
    border: 1px solid #b9b9b9;
    border-radius: 1px;
    padding-left: 15px;
    margin-right: 5px;
}
#search-btn{
    height: 32px;
    line-height: 32px;
    background-color: #670465;
    box-shadow: none;
    font-weight: 400;
    border: 0;
    outline: 0;
    letter-spacing: normal;
    color: #fff;
    border-radius: 4px;
    padding: 1px 25px;
}
#search .search-box .search-main .search-tab{
    margin: 10px;
    margin-left: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#search .search-box .search-main .search-tab .labe{
    margin: 0px 4px;
    border: #00000036 solid 1px;
    border-radius: 4px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 900;
    color: #000000ee;
    height: 20px;
    transition: 0.25s all cubic-bezier(0, 0.79, 0.49, 1.46);
}
#search .search-box .search-main .search-tab .labe:hover{
    margin-top: -5px;
    box-shadow: #0000008c 2px 3px 7px 0px;
}
#search .search-box .search-main .search-pic{
    height: calc(100% - 145px);
    overflow-y: scroll;
    display: block;
}
#search .search-box .search-main .close-btn{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    transition: 0.25s all cubic-bezier(0, 0.79, 0.49, 1.46);
}
#search .search-box .search-main .close-btn:hover{
    top: 8px;
    text-shadow: 2px 2px 6px black;
}

#main {
    position: relative;
    display: flex;
    width: 100%;
    top:40px;
}
.row{
    column-count: 6;
    column-gap: 15px;
}
.searchrow{
    margin: 10px 35px;
    column-count: 5;
}
.column {
    display: flex;
    flex-direction: column;
}
.box{
    margin-top: 10px;
    box-shadow: 0 0 3px 1px #000000ee;
    position: relative;
    border-radius: 10px;
    transition: 0.25s all cubic-bezier(0, 0.79, 0.49, 1.46);
}
.box:hover{
    filter: saturate(140%) brightness(90%) contrast(110%);
    box-shadow: 0 0 11px 1px #000000ee;
}
.box img{
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.box:first-child{
    margin-top: 0px;
}
#custom-menu{
    display: flex;
    position:fixed;
    height: 40px;
    width: 100%;
    line-height: 40px;
    z-index: 2;
    font-weight: 900;
    color: #fff;
    background-color: #6903c5;
    border-radius: 8px 8px 0px 0px;
    flex-direction: row;
    justify-content:space-between;
}
#custom-menu .menu-text{
    margin-left: 20px;
    text-shadow: 1px 0px 4px white;
}
.menu-div{
    margin-right: 10px;
}
.menu-div Button{
    width: 30px;
    height: 30px;
    background-color: #6903c5;
    border: #6903c5;
    color: #fff;
    border-radius: 20px;
    transition: 0.25s all cubic-bezier(0, 0.79, 0.49, 1.46);
}
.menu-div Button:hover{
    width: 35px;
    height: 35px;
    box-shadow: 0 0 20px 0px #fff;
    background-color: #6014a1;
}